@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cielo: #2cc9e5;
    --verde: #2cd87c;
    --degradado: linear-gradient(90deg, var(--verde),var(--cielo));
}

*{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection{
    background: var(--cielo);
    color: hwb(208 94% 0%);
}

html{
    font-size: 70.5%;
    overflow-x: hidden;
}

body{
    background: #f4f6ff;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7,5rem;
    padding-bottom: 2rem;
}

.btn{
    display:inline-block;
    margin-top: 1rem;
    padding: .8rem 1rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background-color: var(--cielo);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color: var(--cielo);
}

header .logo span{
    color: var(--verde);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--cielo);
}

header .navbar a:hover{
    color: var(--verde);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(--cielo);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Inicio/img/inicio_fondo.png)no-repeat;
    background-size: cover;
    background-position: center;
}

.donaciones{
    text-align: center;
    padding: 5rem 1rem;
    background: url(../Inicio/img/fondo_sub.png) no-repeat;
    background-size:cover;
    background-position: center;
}

.donaciones h3{
    color: #000000e3;
    font-size: 3rem;
    text-transform: uppercase;
}

.donaciones p{
    color: rgba(0, 0, 0, 0.838);
    font-size: 1.5rem;
    margin: 2rem auto;
    width: 70rem;
}

.donaciones form{
    display: flex;
    max-width: 70rem;
    border: .2rem solid white;
    padding: .5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 4.5rem;
}

.donaciones form input[type="email"]{
    padding: 0 2rem;
    font-size: 1.7rem;
    background: none;
    width: 100%;
    color: rgba(0, 0, 0, 0.903);
    text-transform: none;
}

.donaciones form input[type="email"]::placeholder{
    color: whitesmoke;
    text-transform: capitalize;
}

.donaciones form input[type="submit"]{
    background: white;
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 4rem;
    cursor: pointer;
}

.donaciones form input[type="submit"]:hover{
    color:var(--verde);
}

@media(max-width: 1200px){
    html{
        font-size: 55%
    }
}
@media(max-width: 768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 9%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem ;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 100%;
    }

    .inicio .content h3{
        font-size: 3.6rem;
    }

    .inicio .content p{
        font-size: 1.5rem;
    }

    .donaciones p{
        width: auto;
    }
}

.inicio .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.inicio .content h3{ 
    font-size: 5.5rem;
    color: rgba(0, 0, 0, 0.767);
    text-transform: uppercase;
}

.inicio .content h3 span{
    color: var(--cielo);
    text-transform: uppercase;
}

.inicio .content p{
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.736);
    padding: 1rem 0;
}

.reseñas .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reseñas .caja-contenedor .caja{
    flex: 1 1 30rem;
    background-color: #f4f6ff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.reseñas .caja-contenedor .caja h3{
    font-size: 2rem;
    color: var(--cielo);
    padding-top: 1rem;
}

.reseñas .caja-contenedor .caja img{
    height: 5rem;
}

.reseñas .caja-contenedor .caja p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.755);
    padding: 1rem 0;
}

.acerca_de{
    background-position:right;
}

.detalles .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalles .caja-contenedor .caja{
    flex: 1 1 30rem;
    background-color: #f4f6ff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.detalles .caja-contenedor .caja h3{
    font-size: 2rem;
    color: var(--cielo);
    padding-top: 1rem;
}

.detalles .caja-contenedor .caja img{
    height: 5rem;
}

.detalles .caja-contenedor .caja p{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.755);
    padding: 1rem 0;
}

.acerca_de{
    background: url(../Inicio/img/fondo_2.png) no-repeat;
    background-size: cover;
    background-position:center;
    padding-bottom: 3rem;
}

.acerca_de .columna{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.acerca_de .columna .image{
    flex: 1 1 40rem;
}

.acerca_de .columna .image img{
    width: 100%;
}

.acerca_de .columna .content{
    flex: 1 1 30rem;
}

.acerca_de .columna .content h3{
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.76);
}

.acerca_de .columna .content p{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.792);
    padding: 1rem 0;
}

@media (max-width:450px) {
    html{
        font-size: 49%;
    }
    .acerca_de .columna .content .bottons a{
        width: 100%;
        text-align: center;
    }

    .acerca_de .columna .content .bottons a:last-child{
        margin: 1rem 0;
    }
}

.contactanos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.contactanos .image{
    flex: 1 1 40rem;
}

.contactanos .image .img{
    width: 100%;
    padding: 2rem;
}

.contactanos form{
    flex: 1 1 40rem;
    padding: 2rem 3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: white;
}

.contactanos .heading{
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
}

.contactanos form .inputcaja{
    position: relative;
}

.contactanos form .inputcaja input, .contactanos form .inputcaja textarea{
    width: 100%;
    background: none;
    color: rgba(0, 0, 0, 0.837);
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border-bottom: 1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
}

.contactanos form .inputcaja textarea{
    resize: none;
    height: 20rem;
}

.contactanos form .inputcaja label{
    position: absolute;
    top: .1rem;
    left: 0;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.821);
    transition: .2s linear;
}

.contactanos form .inputcaja input:focus ~ label, 
.contactanos form .inputcaja input:valid ~ label, 
.contactanos form .inputcaja textarea:focus ~ label,
.contactanos form .inputcaja textarea:valid ~ label{
    top: -.5rem;
    font-size: 1.5rem;
    color: var(--verde);

}

.IMG_Logo{
    width: 50%;
    height: auto;
}